.page
	width 100%
	background #fff
	min-height 100%
	padding 2.4rem 3.2rem 3.1rem
	+tablet()
		background none
		min-height calc(100% - 9.6rem)
		padding 2.9rem 1.6rem 1.6rem
	+desktop-wide()
		padding 3.1rem 8.8rem 5.1rem

.page__container
	background #fff
	width 100%
	min-height 10rem
	+tablet()
		padding 1rem
	.home &
		+tablet()
			padding 1rem 2rem 2rem
		+desktop()
			padding 1rem 3rem 3rem
		+desktop-wide()
			padding 1rem 4.5rem 4.5rem

.page__container._status
	max-width 100%
	margin 0 auto
	//padding 3.5rem 8.5rem 5rem
	text-align center
	+tablet()
		width 57rem
		padding 3.5rem 8.5rem 5rem

			

h1.page__title
	font-size 2.8rem
	line-height 4.4rem
	color #2F3341
	margin-bottom 3.1rem
	font-weight 400
	text-align center
	+tablet()
		display block
		text-align left
		

.content-loader .ant-spin-show-text
	max-height: 100% !important