

.h1
	font-size 2rem
	color $textColor
	
.h2
	font-size 2.8rem
	color $textColor

.h3
	font-size 2.2rem
	color $textColor

.sum
	font-size 2.2rem
	color #424550
	font-weight 600
	.sum__currency
		font-size 1.6rem
		
	&._green
		font-size 2.2rem
		color $colorGreen
		
	&._middle
		font-size 3.5rem
		font-weight 600
		+tablet()
			font-size 4.9rem
		.sum__currency
			font-size 2.8rem
			font-weight 400
			+tablet()
				font-size 3.9rem
			
	&._high
		font-size 5.2rem
		font-weight 600
		+tablet()
			font-size 6.9rem
		.sum__currency
			font-size 3.2rem
			font-weight 400
			+tablet()
				font-size 4.1rem
