
::-webkit-scrollbar
	width 5px
	height 9px
	transition background .3s

::-webkit-scrollbar-button
	width 0px
	height 0px

::-webkit-scrollbar-thumb
	background #DFE1E8
	border 9px none #DFE1E8
	transition background .3s
	border-radius 50px

::-webkit-scrollbar-thumb:hover
	background darken(#DFE1E8, 20%)

::-webkit-scrollbar-thumb:active
	background darken(#DFE1E8, 20%)

::-webkit-scrollbar-track
	transition background .3s
	background #F5F5F7
	border 0px none #DFE1E8
	// border-radius 50px

::-webkit-scrollbar-track:hover
	background #F5F5F7

::-webkit-scrollbar-track:active
	background #F5F5F7

::-webkit-scrollbar-corner
	background transparent