@import 'variable'
@import '/helpers/@media-query'
@import '/helpers/scrollbar'

scrollbar()

html
	margin 0
	padding 0
	font-size 10px
	&.mobile
		font-size calc((100vw / 414) * 10)
		@media(orientation: landscape)
			font-size calc(10px - (100vw - 100vh) / 100)
	@media (min-width: 1920px) 
		font-size calc((100vw / 1920) * 10)
	@media (min-aspect-ratio: 20/9)
		font-size 10px

body
	font-size 1.6rem
	font-family $baseFont

html
body
	height auto
	min-height 100%	
*
	box-sizing: border-box


//layouts
@import '../layouts/Main/Main'

//pages
@import '../pages/Home/Home'

